.img{
    height: 250px;
    width: 250px;
}

.c1{
    margin-top: 5%;
    margin-left: 10%;
        
}
/* .img2{
    background-image: url('./images/Melaka.jpg');
    height: 250px;
    width: 250px;
} */