.rowStyle{
    padding-top: 2px;
    

}
.col1{
    padding-right:  4px ;
}
.col2{
    padding-right:  4px ;
}
.col3{
    padding-right:  4px ;
}
.col4{
    padding-right:  4px ;
}
.table1{
    margin-left: 40%;
   /* border:1px solid black; */
    margin-top: 10%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
